# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/build
/.vs
/out
CMakeSettings.json
/.cache
/enc_temp_folder
*.zip
*.log
*.properties
*.dat
*.mcr
*.lock
src/bpp_shared/version.h
*.dat_old
/target
!Cargo.lock
